<div id="burgerHeader">
    <h1>Eat A Burger</h1>
</div>

<div id="middle">

    <div class="midLeft">
        <div class="emptyMid">
            {{#each burger}}
                {{#unless devoured}}
                    <li>
                        {{burger_name}}
                        <button class="burgerBlock" data-id="{{id}}" data-eaten="{{devoured}}">
                            {{#if devoured}} Place Another Order {{else}} Eat! {{/if}}
                        </button>
                    </li>
                {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="midCenter">
        <div class="center">
            <form action="/api/burger" method="POST">
                <input id="burgerName" type="text" placeholder="Enter name of burger" data-eaten="0" name="burger_name">
                <button id="addBurger" type="submit">Add Your Burger</button>
            </form>
        </div>
    </div>

    <div class="midRight">
        <div class="eatenMid">
            {{#each burger}}
                {{#if devoured}}
                    <li>
                        {{burger_name}}
                        <button class="burgerBlock" data-id="{{id}}" data-eaten="{{devoured}}">
                            {{#if devoured}} Place Another Order {{else}} Eat! {{/if}}
                        </button>
                    </li>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div id="footer">
    
</div>